
.dishCard {
  background-color: #eef4ed;
  color: #0b2545;
  padding: 20px;
  border-radius: 10px;
  border: 3px double #13315c;
  box-shadow: 3px 3px 3px #13315c;
}

.dishCard h2 {
  font-weight: 800;
}

.dishCard p {
  color: #13315c;
}
.dishCard span {
  font-weight: 700;
}
